@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to my portfolio!</h1>
   <h3>Hi! I'm Milo...</h3>
   <p>
        Graduated with a Master's degree in Computer Software Engineering from Heriot-Watt University in May 2024. Currently contributing to Motorola Solutions as a Graduate Software Engineer.

        Equipped with a strong foundation in software infrastructure, test-driven development, and MS SQL, coupled with practical exposure through prior roles in software engineering and technology. Dedicated to leveraging advanced technical skills to support organizational goals.
   </p>
   <img src="/images/portfolio-img1.jpg" alt="Image couldn't be loaded" height="500"/>

   
</div>
