@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h3>
        Privacy Policy
    </h3>
    <h4>Last updated: 19/03/2026</h4>
    <h5>The short version...</h5>
    <p>I value your privacy as much as my own. This site is a portfolio designed to show my work, not to track you or sell your data.</p>
    <ul>
      <li>
        <h5>Information Collection:</h5>
        <p>I do not require users to register or provide personal information to view this site.</p>

        <ul>
          <li>
            <h6>Contact Form:</h6>
            <p>If you choose to contact me via the form on this site, I will receive the information you provide (like your name and email) so that I can respond to you.</p>
          </li>
          <li>
            <h6>Server Logs:</h6>
            <p>Like most websites, my hosting provider may collect basic technical information (like your IP address) to ensure the site stays secure and functional.</p>
          </li>
        </ul>
      </li>
      <li>
        <h5>Cookies:</h5>
            <p>I aim to keep this site cookie-free.</p>
      </li>
        <li>
            <h5>Third-Party Links:</h5>
            <p>My portfolio contains links to other sites (like LinkedIn or BitBucket). I am not responsible for the privacy practices of those external sites.</p>
        </li>
        <li>
            <h5>Contact:</h5>
            <p>If you have any questions about this, feel free to reach out at <a href="mailto:hereismilo@gmail.com">hereismilo@gmail.com</a>.</p>
        </li>
    </ul>
</div>